@main("Payola!") {

    <div class="container-fluid">
        <div class="row-fluid">
            <div id="canvas-holder"></div>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-cog"></i>
                    Settings
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gravitational model</a></li>
                    <li><a href="#">Table view</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Change colors</a></li>
                    <!-- dropdown menu links -->
                </ul>
            </div>
        </div><!--/row-->

        <!--<hr class="clear">

        <footer>
            <p>&copy; Company 2012</p>
        </footer>-->

    </div><!--/.fluid-container-->

    <script src="/javaScriptPackage/cz.payola.web.client.presenters.Index" type="text/javascript"></script>
    <script type="text/javascript">
        new cz.payola.web.client.presenters.Index().init();
    </script>
}
