@(form: Form[(String,String)])

@main(None, "Sign in :: Payola!", Some("Sign in")) {
    <div class="container">
        <form action="@routes.Application.authenticate" role="form" method="post">

            @form.globalError.map { error =>
            <p class="alert alert-error">
                @error.message
            </p>
            }

            <div class="well row">
                <div class="col-lg-4">
                    <fieldset>
                        <legend>Sign in to Payola</legend>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" id="email" value="@form("email").value" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" />
                        </div>
                        <button type="submit" id="loginbutton" class="btn btn-primary">Sign in</button>
                    </fieldset>
                </div>
            </div>

            <p class="alert alert-info">Don't have an account? <a href="@routes.Application.signup()">Sign up</a>!</p>
            <p class="alert alert-warning">Forgot password? <a href="@routes.Application.resetPassword()">Reset Password</a>.</p>

        </form>
    </div>

}
