@(form: Form[(String,String)])

@main(None, "Sign in :: Payola!", Some("Sign in")) {
    <div class="container">
        <form action="@routes.Application.authenticate" class="form-horizontal" method="post">

            @form.globalError.map { error =>
            <p class="alert alert-error">
                @error.message
            </p>
            }

            <div class="well">
                <fieldset>
                    <legend>Sign in to Payola</legend>
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value" class="input-large">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" name="password" id="password" placeholder="Password" class="input-large">
                        </div>
                    </div>
                    <div>
                        <span class="controls">
                            <button type="submit" id="loginbutton" class="input btn btn-primary">Sign in</button>
                        </span>
                    </div>
                </fieldset>
            </div>

            <p class="alert alert-info">Don't have an account? <a href="@routes.Application.signup()">Sign up</a>!</p>
            <p class="alert alert-warning">Forgot password? <a href="@routes.Application.resetPassword()">Reset Password</a>.</p>

        </form>
    </div>

}
