@(user: Option[cz.payola.common.entities.User], title: String, heading: Option[String] = None)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("fonts/font-face/stylesheet.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/select2.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/colorpicker.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
        <title>@title</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-plugins/jquery.blockUI.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/twitter.bootstrap/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/twitter.bootstrap/bootstrap-colorpicker.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/select2/select2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-plugins/jquery.autosize-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-plugins/jquery.livequery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/common.js")"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            // Load the Visualization API and the chart package.
            google.load("visualization", "1", {packages: ["columnchart"]});
        </script>
    </head>
        <body>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="@routes.Application.dashboard"><img src="@routes.Assets.at("img/payola-logo-small.png")" /></a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li>
                                    <a href="@routes.Application.dashboard"><i class="icon-home icon-white"></i> Dashboard</a>
                                </li>
                                @if(user.isDefined){
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-search icon-white"></i> My Analyses<b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@routes.Analysis.list()"><i class="icon-list"></i> View All</a></li>
                                            <li><a href="@routes.Analysis.create()"><i class="icon-plus"></i> Create New</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-hdd icon-white"></i> My Data Sources<b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@routes.DataSource.list()"><i class="icon-list"></i> View All</a></li>
                                            <li><a href="@routes.DataSource.create()"><i class="icon-plus"></i> Create New</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-file icon-white"></i> My Plugins<b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@routes.Plugin.listPlugins(1)"><i class="icon-list"></i> View All</a></li>
                                            <li><a href="@routes.Plugin.createPlugin()"><i class="icon-upload"></i> Upload New</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-rdf icon-white"></i> Private RDF Storage<b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@routes.PrivateDataStorage.add()"><i class="icon-upload"></i> Upload Data</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-group icon-white"></i>
                                            User Groups<b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@routes.Group.list()"><i class="icon-list"></i> View All</a></li>
                                            <li><a href="@routes.Group.create()"><i class="icon-plus"></i> Create New</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>

                            <p class="navbar-text pull-right">
                                @if(user.isDefined){
                                    Logged in as <a href="@routes.Profile.index(user.get.email)">@user.get.name</a>
                                    (<a href="@routes.Application.logout">Logout</a>)
                                }else{
                                    <a href="@routes.Application.login">Login</a>
                                }
                            </p>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            @heading.map { str =>
                <div class="main-header"><h1>@str</h1></div>
            }


            @content

        </body>
</html>
