
<div class="well" ng-show="!initDone && !error">Loading...</div>
<div class="alert alert-danger" ng-show="error">{{error}}</div>

<div class="row">

    <div class="col-lg-3">

        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Data source</h3>
            </div>
            <div class="panel-body">
                <p>Using a fixed dataset, which is a result of a Payola analyzer.</p>
            </div>
            <div class="panel-footer"></div>
        </div>
-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available data structures</h3>
            </div>
            <div class="panel-body">
                <p ng-show="dataStructures.length == 0">No data structures found in the supplied datasource.</p>
                <ul class="list-unstyled" ng-show="dataStructures.length > 0">
                    <li ng-repeat="ds in dataStructures"><input type="checkbox" ng-model="ds.active" ng-change="switchDSD($index, false, true)" />&nbsp;{{ds.label}}</li>
                </ul>
            </div>
            <div class="panel-footer"></div>
        </div>
        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available datasets</h3>
            </div>
            <div class="panel-body">
                <p ng-show="datasets.length == 0">No dataset found in the supplied datasource.</p>
                <ul class="list-unstyled" ng-show="datasets.length > 0">
                    <li ng-repeat="ds in datasets"><input type="checkbox" ng-model="ds.active" ng-change="changeDataset($index)" />&nbsp;{{ds.url || ds.label}}</li>
                </ul>
            </div>
            <div class="panel-footer"></div>
        </div>-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dimensions settings</h3>
            </div>
            <div class="panel-body">
                <ol class="list-unstyled">
                    <li ng-repeat="dimension in dataStructures[selectedDataStructure].dimensionsOrdered | orderBy:'order'">
                        {{dimension.label || dimension.uri}}
                        <ul style="max-height: 200px; overflow: scroll;">
                            <li ng-repeat="v in dimension.values | orderBy:['prefLabel', 'label', 'notion', 'uri', 'value']"><input type="checkbox" ng-model="v.active" ng-change="setActiveValue(dimension.uri, v)" />&nbsp;{{v.prefLabel || v.label || v.notion || v.uri || v.value}}</li>
                        </ul>
                        <p class="alert alert-danger" ng-show="dimension.values.length == 0">This dimension has no values. That's why your chart is empty.</p>
                    </li>
                </ol>
            </div>
            <div class="panel-footer"></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Measures settings</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li ng-repeat="(uri, measure) in dataStructures[selectedDataStructure].measures | orderBy: 'order'">
                        {{measure.label || uri}}
                        <ul>
                            <li ng-repeat="v in measure.values">{{v.uri}}{{v.value}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-footer"></div>
        </div>
<!--
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Attributes settings</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li ng-repeat="(uri, attr) in dataStructures[selectedDataStructure].attributes">
                        {{uri}}
                        <ul>
                            <li ng-repeat="v in attribute.values">{{v.uri}}{{v.value}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-footer"></div>
        </div>-->

    </div>

    <div class="col-lg-9">
        <div class="alert alert-danger" ng-show="dataStructures.length == 0"><p>The chosen datasource does not contain any DataCube vocabularies.</p></div>

        <button class="btn btn-primary" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>

        <div class="btn-group">
            <button class="btn btn-default" ng-click="showChart()" ng-class="{'btn-success': chartVisible}"><i class="glyphicon glyphicon-signal"></i> Chart</button>
            <button class="btn btn-default" ng-click="showMap()" ng-class="{'btn-success': mapVisible}"><i class="glyphicon glyphicon-globe"></i> Map</button>
        </div>

        <div class="btn-group" ng-show="chartVisible">
            <button class="btn btn-default" ng-click="switchChart('line', true)" ng-class="{'btn-success':highcharts.options.chart.type == 'line'}">Line</button>
            <button class="btn btn-default" ng-click="switchChart('bar', true)" ng-class="{'btn-success':highcharts.options.chart.type == 'bar'}">Bar</button>
            <button class="btn btn-default" ng-click="switchChart('column', true)" ng-class="{'btn-success':highcharts.options.chart.type == 'column'}">Column</button>
            <button class="btn btn-default" ng-click="switchChart('area', true)" ng-class="{'btn-success':highcharts.options.chart.type == 'area'}">Area</button>
            <button class="btn btn-default" ng-disabled="highcharts.series.length > 1" ng-click="switchChart('pie', true); switchPolar(false, true);" ng-class="{'btn-success':highcharts.options.chart.type == 'pie'}">Pie</button>
        </div>
        <div class="btn-group" ng-show="chartVisible">
            <button class="btn btn-default" ng-click="switchPolar(true, true)" ng-class="{'btn-success':highcharts.options.chart.polar}">Polar</button>
            <button class="btn btn-default" ng-click="switchPolar(false, true)" ng-class="{'btn-success':!highcharts.options.chart.polar}">Normal</button>
        </div>

        <highchart id="chart1" config="highcharts" class="cubechart" ng-show="chartVisible"></highchart>

        <cz-region-map data="czRegionData" ng-show="mapVisible"></cz-region-map>

    </div>


</div>