@(
    title: String,
    entitiesNamePlural: String,
    entities: Seq[cz.payola.domain.Entity],
    createCall: Option[play.api.mvc.Call],
    entityLister: (cz.payola.domain.Entity) => scala.xml.NodeBuffer,
    boxClass: String,
    listCall: play.api.mvc.Call,
    entitiesToDisplay: Int = 5
)

<div class="span6">

    @if(entities.isEmpty){
        <div class="alert alert-warning">
            <h2 class="alert-heading">No @entitiesNamePlural.</h2>

            <div class="alert-block">
                @if(createCall.isDefined){
                No stress! You can create one by hitting
                <a class="btn btn-success" href="@createCall">
                    <i class="icon-plus icon-white"></i> Create
                </a>
                }
            </div>
        </div>
    }else{
        <div class="@boxClass">
            <div class="row-fluid">
                <h2 class="span@if(createCall.isDefined){6}else{9}">@title</h2>
                @if(entities.size > 5){
                    <a class="btn btn-primary span3" href="@listCall"><i class="icon-list icon-white"></i> View all &raquo;</a>
                }else{
                    @if(createCall.isDefined){
                        <span class="span3"></span>
                    }
                }

                @if(createCall.isDefined){
                    <a class="btn btn-success span3" href="@createCall">
                        <i class="icon-plus icon-white"></i> Create
                    </a>
                }
            </div>
            <div class="row-fluid">
                <table class="table table-striped">
                    @entities.take(5).map{e =>
                    <tr>
                        @entityLister(e)
                    </tr>
                    }
                </table>
            </div>
        </div>
    }
</div><!--/span-->