@(user: cz.payola.domain.entities.User,
    entityName: String,
    entityNamePlural: String,
    entityCount: Int,
    entitiesFetcher: (Int, Int) => Seq[cz.payola.domain.Entity],
    headerWriter: (Unit) => scala.xml.NodeBuffer,
    entityLister: (cz.payola.domain.Entity) => scala.xml.NodeBuffer,
    newEntityCall: play.api.mvc.Call,
    page: Int = 1)

@entitiesPerPage = @{
        5
}

@lastPage = @{
    (page * entitiesPerPage >= entityCount)
}

@numberOfPage = @{
    if (entityCount % entitiesPerPage == 0) {
        entityCount / entitiesPerPage
    }else{
        (entityCount / entitiesPerPage) + 1
    }
}

@main(Some(user), "List " + entityNamePlural + " - Payola!") {

<div class="container-fluid">
    <div class="entity-container">
        <div class="row-fluid">
            <h1 class="span10">List @entityNamePlural</h1>
            <a href="@newEntityCall" class="btn btn-success span2"><i class="icon-plus icon-white"></i> Create
                @entityName &raquo;</a>
        </div>

        @if(entityCount > 0){
            <table class="table table-striped">
                <thead>
                <tr>
                    @headerWriter()
                </tr>
                </thead>
                @entitiesFetcher(page, entitiesPerPage).map{ entity =>
                    <tr>
                        @entityLister(entity)
                    </tr>
                }
            </table>

            @if(entityCount > entitiesPerPage){
                <div style="text-align: center">
                    <div class="pagination">
                        <ul>
                            <li><a href=@{
                                       if(page == 1){
                                            "#"
                                        }else{
                                            "?page=" + (page - 1)
                                        }
                                    }>Prev</a></li>
                            <li class="active">
                                @for(i <- 0 until numberOfPage){
                                    @if((i + 1) == page){
                                        <a class="selected-page" href="#">@page</a>
                                    }else{
                                        <a href=@{ "?page=" + (i + 1)}>@{ i + 1 }</a>
                                    }
                                }

                            </li>
                            <li><a href=@{
                                   if(lastPage){
                                        "#"
                                   }else{
                                       "?page=" + (page + 1)
                                   }
                                }>Next</a></li>
                        </ul>
                    </div>
                </div>
            }
        }else{
        <div class="alert alert-info">
            <h3 class="alert-heading">No @entityNamePlural</h3>

            <p class="alert-block">But you can create one!</p>
        </div>
        }

    </div>
</div>

}
