@(user: Option[cz.payola.domain.entities.User],
    entityName: String,
    entityNamePlural: String,
    entityCount: Int,
    entitiesFetcher: (Int, Int) => Seq[cz.payola.domain.Entity],
    headerWriter: (Unit) => scala.xml.NodeBuffer,
    entityLister: (cz.payola.domain.Entity) => scala.xml.NodeBuffer,
    newEntityCall: play.api.mvc.Call,
    page: Int = 1,
    title: Option[String] = None)

@entitiesPerPage = @{
        50
}

@lastPage = @{
    (page * entitiesPerPage >= entityCount)
}

@numberOfPage = @{
    if (entityCount % entitiesPerPage == 0) {
        entityCount / entitiesPerPage
    }else{
        (entityCount / entitiesPerPage) + 1
    }
}

@getTitle = @{
    if(title.isDefined){
        title.get
    }else{
        "My " + entityNamePlural
    }
}

@main(user, getTitle + " :: Payola!") {

<div class="container-fluid">
    <div class="entity-container">
        <div class="row">
            <h1 class="col-lg-10">@getTitle</h1>
            @if(newEntityCall != null){
                <a href="@newEntityCall" class="btn btn-success input-large"><i class="glyphicon-plus glyphicon"></i> Create
                    @entityName &raquo;</a>
            }
        </div>

        @if(entityCount > 0){
            <table class="table table-striped">
                <thead>
                <tr>
                    @headerWriter()
                </tr>
                </thead>
                @entitiesFetcher(page, entitiesPerPage).map{ entity =>
                    <tr>
                        @entityLister(entity)
                    </tr>
                }
            </table>

            @if(entityCount > entitiesPerPage){
                <div style="text-align: center">
                    <div class="pagination">
                        <ul>

                            @if(page != 1){
                                <li><a href=@{ "?page=" + (page - 1) }>Prev</a></li>
                            }
                            @for(i <- 0 until numberOfPage){
                                <li @if((i + 1) == page){ class="active"}>
                                        @if((i + 1) == page){
                                            <a class="selected-page" href="#">@page</a>
                                        }else{
                                            <a href=@{ "?page=" + (i + 1)}>@{ i + 1 }</a>
                                        }

                                </li>
                            }

                            @if(!lastPage){
                                <li><a href=@{ "?page=" + (page + 1) }>Next</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        }else{
        <div class="alert alert-info">
            <h3 class="alert-heading">No @entityNamePlural</h3>

            <p class="alert-block">But you can create one!</p>
        </div>
        }

    </div>
</div>

}
