@(user: cz.payola.domain.entities.User)(flash: Flash)

@main(Some(user), "List groups") {

    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@routes.Profile.index(user.id)">Your profile</a> <span class="divider">/</span>
        </li>
        <li class="active">Groups</li>
    </ul>

    @flash.get("success").map { message =>
    <p class="alert alert-success">
        @message
    </p>
    }

    @flash.get("error").map { message =>
    <p class="alert alert-error">
        @message
    </p>
    }

    <div class="container">
        <h1>List groups</h1>
        @if(user.ownedGroups.size > 0){
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># of members</th>
                </tr>
            </thead>
            @user.ownedGroups.map{ group =>
                <tr>
                    <td>@group.name</td>
                    <td>@group.members.size member(s)</td>
                    <td><a href="@routes.Group.edit(group.id)" class="btn btn-primary"><i class="icon-cog icon-white"></i> Administer</a></td>
                </tr>
            }
            <div style="text-align: center">
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>

        </table>
        }else{
            <div class="alert alert-info">
                <h3 class="alert-heading">No groups</h3>
                <p class="alert-block">But you can create one!</p>
            </div>
        }
        <a href="@routes.Group.create()" class="btn btn-success"><i class="icon-plus icon-white"></i> Create group &raquo;</a>

    </div>
}
