@(user: Option[cz.payola.domain.entities.User], page: Int = 1)(flash: Flash)

@import tags._

@detailsLinkForID(id: String, name: String) = @{
{name}
}

@editLinkForID(id: String) = @{
<a href={routes.Group.edit(id).toString} class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
}

@render_flash(flash)

@list_entities(user,
"group",
"groups",
user.get.ownedGroups.size,
{ case (page, itemsPerPage) =>
val subseq = user.get.ownedGroups.drop((page - 1) * itemsPerPage)
if (itemsPerPage > subseq.size){
subseq
}else{
subseq.take(itemsPerPage)
}
}, { Unit =>
new scala.xml.NodeBuffer() += <td>Name</td>
}, { e: cz.payola.domain.Entity =>
<td>{
    detailsLinkForID(e.id, e.asInstanceOf[cz.payola.domain.entities.Group].name)
    }</td>
<td>{
    editLinkForID(e.id)
    }</td>
<td>{
    <span class="badge badge-info">{e.asInstanceOf[cz.payola.domain.entities.Group].members.size} members</span>
    }</td>
},
routes.Group.create(),
page)