@(user: Option[cz.payola.domain.entities.User], page: Int = 1)(flash: Flash)

@import tags._

@deleteLinkForID(id: String) = @{
    <div class="btn-group"><a href={routes.Group.delete(id).toString} class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="glyphicon-remove-sign glyphicon"></i> Delete</a></div>
}

@detailsLinkForID(id: String, name: String) = @{
{name}
}

@editLinkForID(id: String) = @{
    <div class="btn-group"><a href={routes.Group.edit(id).toString} class="btn"><i class="glyphicon-pencil"></i> Edit</a></div><span> </span>
}

@render_flash(flash)

@list_entities(user,
"group",
"groups",
user.get.ownedGroups.size,
{ case (page, itemsPerPage) =>
val subseq = user.get.ownedGroups.drop((page - 1) * itemsPerPage)
if (itemsPerPage > subseq.size){
subseq
}else{
subseq.take(itemsPerPage)
}
}, { Unit =>
new scala.xml.NodeBuffer() += <td>Name</td>
}, { e: cz.payola.domain.Entity =>
<td class="listing-name">{
    detailsLinkForID(e.id, e.asInstanceOf[cz.payola.domain.entities.Group].name)
    }</td>
<td><div class="btn-toolbar">{
    editLinkForID(e.id) ++ deleteLinkForID(e.id)
    }</div></td>
<td>{
    <span class="badge badge-info">{e.asInstanceOf[cz.payola.domain.entities.Group].members.size} member(s)</span>
    }</td>
},
routes.Group.create(),
page)
