@(user: cz.payola.domain.entities.User)

@main(Some(user), "Create a new data source - Payola!") {

<div style="padding-left: 30px; padding-bottom: 20px;"><a href="@routes.DataSource.list()" class="btn btn-success">List data sources &raquo;</a></div>

<form class="well" id="create_form"  action="@routes.DataSource.createNew()" method="post">
    <div id="data_source_name_input_wrapper"></div>
    <div id ="data_source_description_input_wrapper"></div>
    <div><input type="checkbox" name="__dataSourceIsPublic__" value="Public"/> Public</div>
    <div style="padding-bottom: 20px;" id="data_fetcher_select_wrapper"></div>
    <div id="options_div"></div>
    <div id="submit_button_div"></div>
</form>

<script src="/javaScriptPackage/cz.payola.web.client.presenters.DataSourceCreator" type="text/javascript"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.DataSourceCreator("data_fetcher_select_wrapper", "options_div", "submit_button_div", "data_source_name_input_wrapper", "data_source_description_input_wrapper", "@routes.DataSource.list()");
</script>

}
