@(user: Option[cz.payola.domain.entities.User], dataSource: cz.payola.domain.entities.plugins.DataSource, initialURI: Option[String])

@main(user, "Data Source :: Payola!") {
    <div class="container-fluid" id="view"></div>
    <script src="/javaScriptPackage/cz.payola.web.client.presenters.entity.plugins.DataSourceBrowser" type="text/javascript">
    </script>
    <script type="text/javascript">
        new cz.payola.web.client.presenters.entity.plugins.DataSourceBrowser(
            document.getElementById('view'),
            '@dataSource.id',
            '@dataSource.name',
            @initialURI.map("'" + _ + "'").getOrElse("undefined")
        ).initialize();
    </script>
}
