@(user: cz.payola.domain.entities.User, dataSource: cz.payola.domain.entities.plugins.DataSource, availableDataFetchers: Seq[cz.payola.domain.entities.plugins.concrete.DataFetcher])

@main(Some(user), "Data source :: Payola!") {

<div class="container-fluid">
    <h1>Edit data source: @dataSource.name</h1>

    <div class="row-fluid">
        <a href="@routes.DataSource.delete(dataSource.id)" onclick="return confirm('Are you sure?');" class="btn btn-danger span2"><i class="icon-remove-circle icon-white"></i>Delete data source</a>
    </div>

    <form class="well">
        <div>Data source name:
            <input type="text" class="span3" value="@dataSource.name">
        </div>


        <div>Data fetcher:
            <select class="span3" id="fetchers">
                <option>@dataSource.plugin.name</option>
                <option>----</option>
                @availableDataFetchers.map{ fetcher =>
                    <option>@fetcher.name</option>
                }
            </select>
        </div>

        <div>
            <table id="options">
                @dataSource.parameterValues.map{ paramValue =>
                    <tr>
                        <td>@{
                            val paramName = paramValue.parameter.name
                            if (paramName == null){
                                "No name"
                            }else{
                                paramName
                            }
                        }</td>
                        <td>@{paramValue.value}</td>
                    </tr>
                }
            </table>

        </div>

    </form>

    <div class="row-fluid" id="placeholder" style="position: relative;">


    </div>
</div><!--/.fluid-container-->


<script src="/javaScriptPackage/cz.payola.web.client.presenters.DataSourceEditor" type="text/javascript"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.DataSourceEditor("placeholder", "@dataSource.id");
</script>

}
