@(user: cz.payola.domain.entities.User, page: Int = 1)

@import cz.payola.web.shared._
@import tags._

@detailsLinkForID(id: String, name: String) = @{
    <a href={routes.DataSource.detail(id, None).toString}>{name}</a>
}

@editLinkForID(id: String) = @{
    <a href={routes.DataSource.edit(id).toString} class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
}

@shareLinkForID(id: String, isPublic: Boolean) = @{
<div class="btn-group share-button-placeholder" data-shareable-entity-id={id} data-shareable-entity-public={isPublic.toString}></div>
}

@list_entities(Some(user),
    "data source",
    "data sources",
    user.ownedDataSources.size,
    { case (page, itemsPerPage) =>
        val subseq = user.ownedDataSources.drop((page - 1) * itemsPerPage)
        if (itemsPerPage > subseq.size){
            subseq
        }else{
            subseq.take(itemsPerPage)
        }
    }, { Unit =>
        new scala.xml.NodeBuffer() += <td>Name</td>
    }, { e: cz.payola.domain.Entity =>
        <td>{
            detailsLinkForID(e.id, e.asInstanceOf[cz.payola.domain.entities.plugins.DataSource].name)
        }</td>
        <td>{
            val dataSource = e.asInstanceOf[cz.payola.domain.entities.plugins.DataSource]
            if (dataSource.isEditable){
                val buff = new scala.xml.NodeBuffer() += editLinkForID(e.id)
                buff += {shareLinkForID(e.id, dataSource.isPublic)}
                buff
            }else{
                val buff = new scala.xml.NodeBuffer() += shareLinkForID(e.id, dataSource.isPublic)
                buff += <span class="badge">Not editable</span>
                buff
            }
        }</td>
    },
    routes.DataSource.create(),
    page)

<script language="javascript" type="text/javascript" src="/javaScriptPackage/cz.payola.web.client.presenters.Sharing"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.Sharing("share-button-placeholder", "data_source");
</script>

