@(user: cz.payola.domain.entities.User)

@main(Some(user), "Create a new analysis :: Payola!") {

<style>
    .successors {
        float: left;
        min-width:300px;
        margin-right: 10px;
    }

    .clear {
        clear: both; height: 0px; visibility: hidden; display: block;
    }

    .alert {
        margin-bottom: 18px;
    }
</style>

<div class="container-fluid">
    <div class="row-fluid">
        <h1 class="span2">Edit analysis:</h1>
        <div class="span9" id="name-holder"></div>
        <div class="span1" id="save-holder"></div>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <div class="well">
                <ul id="menu">

                </ul>
            </div>
        </div>

        <div class="span9">
            <div class="wrap-right">
                <div class="wrap-left">
                    <div id="plugin-space">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.fluid-container-->
<script src="/javaScriptPackage/cz.payola.web.client.presenters.AnalysisBuilder" type="text/javascript"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.AnalysisBuilder("menu", "plugin-space", "name-holder", "save-holder");
</script>

}
