@(user: Option[cz.payola.domain.entities.User], analysis: cz.payola.domain.entities.Analysis)

@main(user, "Analysis "+analysis.name+" :: Payola!") {

<div class="container-fluid">

    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">Analysis: @analysis.name</li>
    </ul>

    <h1>Detail of analysis: @analysis.name <a href="@routes.Analysis.edit(analysis.id)" class="btn btn-small" style="margin-bottom: 5px; margin-left: 10px;"><i class="icon-pencil"></i> Edit</a>
    </h1>

    <div class="row-fluid" id="client-canvas">


    </div>
</div><!--/.fluid-container-->

<script src="/javaScriptPackage/cz.payola.web.client.presenters.AnalysisRunner" type="text/javascript"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.AnalysisRunner("client-canvas", "@analysis.id").initialize();
</script>

}
