@(user: cz.payola.domain.entities.User, id: String)

@main(Some(user), "Edit analysis :: Payola!") {

<div class="container-fluid">
    <div class="row-fluid">
        <h1 class="span11">Edit analysis:</h1>
        <a class="span1 btn btn-small" href="@routes.Analysis.detail(id)"><i class="icon-play"> </i> Run</a>
    </div>

    <div class="row-fluid" id="client-canvas">

    </div>
</div><!--/.fluid-container-->
<script src="/javaScriptPackage/cz.payola.web.client.presenters.AnalysisEditor" type="text/javascript"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.AnalysisEditor("client-canvas", "@id").initialize();
</script>

}
