@(user: Option[cz.payola.domain.entities.User], analyses: Seq[cz.payola.domain.entities.Analysis], page: Int = 1,
renderEditLink: Boolean = false)

@import tags._

@detailsLinkForID(id: String, name: String) = @{
<a href={routes.Analysis.detail(id).toString}>{name}</a>
}

@editLinkForID(id: String) = @{
<div class="btn-group">
    <a href={routes.Analysis.edit(id).toString} class="btn"><i class="icon-pencil"></i> Edit</a>
</div>
}
@deleteLinkForID(id: String) = @{
<div class="btn-group">
    <a href={routes.Analysis.delete(id).toString} class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="icon-remove-sign icon-white"></i> Delete</a>
</div>
}
@shareLinkForID(id: String, isPublic: Boolean) = @{
    <div class="btn-group share-button-placeholder" data-shareable-entity-id={id} data-shareable-entity-public={isPublic.toString}></div>
}

@list_entities(user, "analysis", "analyses", analyses.size, {(page, countPerPage) =>
    analyses.drop((page-1)*countPerPage).take(countPerPage)
},{ Unit =>
new scala.xml.NodeBuffer() +=
<td>Name</td>
}, { e: cz.payola.domain.Entity =>
val analysis = e.asInstanceOf[cz.payola.domain.entities.Analysis]
<td>{
    detailsLinkForID(e.id, analysis.name)
    }
</td>
<td>{
        if (renderEditLink){
        <div class="btn-toolbar">
            {val buff = new scala.xml.NodeBuffer() += (editLinkForID(e.id),{<span> </span>})
            buff ++= shareLinkForID(e.id, analysis.isPublic)
            buff += ({<span> </span>},deleteLinkForID(e.id))}
        </div>
        }else{
            <span class="badge badge-inverse">Not editable</span>
        }
    }
</td>
},
routes.Analysis.create(), page)

<script language="javascript" type="text/javascript" src="/javaScriptPackage/cz.payola.web.client.presenters.Sharing"></script>
<script type="text/javascript">
    new cz.payola.web.client.presenters.Sharing("share-button-placeholder", "analysis");
</script>