@(user: cz.payola.domain.entities.User, group: cz.payola.domain.entities.Group, users: Seq[cz.payola.domain.entities.User])

@main(Some(user), "Edit group "+ group.name) {
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@routes.Profile.index(user.name)">Your profile</a> <span class="divider">/</span>
        </li>
        <li class="active">Edit group</li>
    </ul>

    <div class="row-fluid">
        <h1 class="span10">Edit group @group.name</h1><a href="@routes.Profile.deleteGroup(group.id)" onclick="return confirm('Are you sure?');" class="btn btn-danger span2"><i class="icon-remove-circle icon-white"></i>Delete the group</a>
    </div>

    <form action="@routes.Profile.saveGroup(group.id)" method="post">
        <div class="well">
            <fieldset>
                <legend>Change group properties</legend>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <span class="controls">
                        <input type="text" name="name" placeholder="Group name" id="name" value="@group.name" class="input span3">
                    </span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="members">Members</label>
                    <span class="controls">
                        <input name="members" id="members" value="@(group.members.map{ m => m.id+":"+m.name }.mkString(","))" class="chosen" />
                    </span>
                </div>
                <div class="control-group">
                    <span class="controls">
                        <button type="submit" id="savebutton" class="btn btn-primary">Save group</button>
                    </span>
                </div>
            </fieldset>
        </div>
    </form>
    <script src="/javaScriptPackage/cz.payola.web.client.presenters.GroupEdit" type="text/javascript"></script>
    <script type="text/javascript">
        new cz.payola.web.client.presenters.GroupEdit("@group.id");
    </script>

</div>

}
