@(user: Option[cz.payola.domain.entities.User], owner: cz.payola.domain.entities.User,
    analyses: Seq[cz.payola.domain.entities.Analysis]
)
@import tags._

@main(user, "User profile") {
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">Profile of: @owner.name</li>
    </ul>

    <div class="hero-unit">
        <div class="row-fluid">
            <span class="span3">
                <img src="http://www.gravatar.com/avatar/@md5(owner.email)?s=200" />
            </span>
            <h1>@owner.name</h1>
            <p><i class="icon-envelope"></i>@owner.email</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <h2>Analysis shared by @if(user.isDefined && (user.get == owner)){ you }else{ the user }</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Analysis name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @analyses.map{analysis =>
                    <tr>
                        <td>@analysis.name</td>
                        <td><a href="" class="btn btn-primary"><i class="icon-zoom-in icon-white"></i> View</a></td>
                    </tr>
                }
                @if(analyses.isEmpty){
                    <tr>
                        <td class="alert alert-info" colspan="2">No analyses.</td>
                    </tr>
                }
                </tbody>
            </table>
            <a href="#" class="btn btn-success"><i class="icon-plus icon-white"></i>Create analysis</a>
        </div>
        <div class="span6">
            @if(user.isDefined && (user.get == owner)){
                <h2>Your groups</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Group name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @owner.ownedGroups.take(5).map{ group =>
                        <tr>
                            <td>@group.name</td>
                            <td>@group.members.size member(s)</td>
                            <td>
                                <a href="@routes.Group.edit(group.id)" class="btn"><i class="icon-pencil"></i> Edit</a>
                            </td>
                        </tr>
                    }
                    @if(owner.ownedGroups.isEmpty){
                        <tr>
                            <td colspan="2" class="alert alert-info">No groups.</td>
                        </tr>
                    }
                    </tbody>
                </table>
                @if(user.get.ownedGroups.size > 5){
                    <a class="btn" href="@routes.Group.list()">List all &raquo;</a>
                }
                <a href="@routes.Group.create" class="btn btn-success"><i class="icon-plus icon-white"></i>Create group</a>
            }else{
                <h2>The user has @owner.ownedGroups.size groups</h2>
            }
        </div>
    </div>
</div>
}
