/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************/

h1 {
    color: #333;
}

#controls
{
    right: 0;
    top: 0;
    position: absolute;
    width: 300px;
    height: 100%;
    border-left: 2px solid gray;
}

canvas
{
    /*border: 1px solid black;*/
    position: absolute;
    top: 0;
    left: 0;
}

/**************************/

.controls.plugin.switch.button
{
    color: rgb(0, 0, 255);
}
.controls.plugin.switch.button:hover
{
    background-color: rgb(250, 250, 250);
    color: rgb(255, 0, 0);
}

.tableTechnique
{
    text-align: left;
    vertical-align: top;
}
.tableTechnique.table
{
    width: 75%;
}

.tableTechnique.header
{
    font-weight: bold;
}

.tableTechnique.line.odd
{
    background-color: rgb(240, 255, 240);
}

.tableTechnique.line.even
{
    background-color: rgb(255, 255, 255);
}

.tableTechnique.element
{
    padding: 2px 20px 2px 2px;
}

.tableTechnique.list.element
{
    list-style-type: square;
}
