
canvas
{
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-holder{
    position: relative;
}

.clear{
    clear: both;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}