pre {
    white-space: pre !important;
    word-wrap: normal !important;
    max-height: 300px !important;
}

.clear {
    clear: both;
}

.controls.plugin.switch.button {
    color: rgb(0, 0, 255);
}

.controls.plugin.switch.button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(255, 0, 0);
}

.visualPluginSettings.textField {
    width: 30px;
}

.main-header {
    padding-left: 20px;
    padding-bottom: 15px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

label {
    float: left;
    margin-right: 10px;
    padding-top: 4px;
}

.instance h3 {
    text-align: center;
}

.instance p {
    max-width: 200px;
}

.listing-name {
    width: 600px;
}

.listing-column-medium {
    width: 300px;
}

.listing-column-tiny {
    width: 100px;
}

.plugin-space {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.plugin-space * {
    line-height: 18px;
}

.plugin-space canvas {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.plugin-space canvas:first-of-type {
    position: relative;
}

.tabbable {
    position: absolute;
    left: 0;
    width: 100%;
    margin-bottom: 15px;
}

.tabbable .btn-toolbar {
    padding: 0 15px;
}

.tabbable .tab-pane:first-child {
    padding: 15px;
}

.tabbable .nav-tabs li {
    position: relative;
    left: 21px;
}

.tabbable .control-group {
    display: inline-block;
    width: 280px;
    float: left;
}

.tabbable .plugin-space {
    position: relative;
}

#plugin_create_button_container {
    padding-left: 30px;
    padding-bottom: 15px;
}

input.active, textarea.active {
    background: #fff url('spinner.gif') no-repeat 100%;
    background: url('spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background-position: 98%;
}

input[type="checkbox"].active:after {
    width: 20px;
    height: 20px;
    display: block;
    background: #fff url('spinner.gif') no-repeat 100%;
    background: url('spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%;
    background-position: 98%;
    content: "";
    position: relative;
    left: 13px;
    top: -5px;
}

.dashboard h2 {
    color: black;
}

.icon-rdf {
    background-image: url(rdf-white.png) !important;
    background-position: 0px !important;
}

.icon-cc-share {
    background-image: url(cc-share.png) !important;
    background-position: 0px !important;
}

.icon-cc-share.icon-white {
    background-image: url(cc-share-white.png) !important;
    background-position: 0px !important;
}

.icon-play-back {
    background-image: url(play-back.png) !important;
    background-position: 0px !important;
}

.icon-play-back.icon-white {
    background-image: url(play-back-white.png) !important;
    background-position: 0px !important;
}

.icon-group {
    background-image: url(group.png) !important;
    background-position: 0px !important;
}

.icon-group.icon-white {
    background-image: url(group-white.png) !important;
    background-position: 0px !important;
}

.selected-page {
    background: #8891B7;
}

.successors {
    display: inline-block;
    min-width: 300px;
    vertical-align: top;
}

.params-wrapper .parameters {
    width: 269px;
    overflow-x: auto;
}

.editable.instance .params-wrapper .parameters {
    overflow-x: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .params-wrapper {
        display: table !important;
        width: 100%
    }

    .params-wrapper .parameters {
        display: table-cell;
        overflow-x: auto;
    }
}

.successors + .successors {
    margin-left: 10px;
}

.clear {
    clear: both;
    height: 0px;
    visibility: hidden;
    display: block;
}

.alert {
}

.modal-inner-view {
    height: 250px;
    overflow: auto;
}

.property-list-div {
    background: #FFFEE2;
}

.large-modal .modal-dialog {
    width: 900px !important;
}

.inline-display {
    display: inline;
}

.no-padding {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#progress {
    top: 5px;
    position: relative;
}

.wrap-right {
    float: left;
    position: relative;
    left: 50%;
}

.wrap-left {
    float: left;
    position: relative;
    left: -50%;
}

.tab-content {
    position: relative;
    overflow: visible;
}

.plugin-message {
    font-weight: bolder;
    text-align: center;
    vertical-align: center;
}

.plugin-message.large {
    height: 50px;
    padding-top: 150px;
    font-size: 32pt;
    color: #333;
    text-shadow: 2px 2px #BCBCBC;
}

.plugin-message.small {
    padding-top: 30px;
    font-size: 24px;
    color: #666;
    text-shadow: 1px 1px #DEDEDE;
}

.timeout-control label {
    width: 180px;
    padding-top: 4px;
}

.none {
    display: none !important;
}

.hidden-element {
    visibility: hidden;
}

.analysis-controls {
    padding-bottom: 10px !important;
}

.popover-content p {
    max-height: 200px;
}

.connector {
    border: 2px solid #3A87AD;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.plumb {
    position: absolute;
    top: -4px;
    border: 4px solid #3A87AD;
}

.successors {
    background-color: white;
    margin-bottom: 18px;
    z-index: 1;
}

.successors, .successors .alert {
    position: relative !important;
}

.successors .panel {
    margin-bottom: 0;
}

.vitable {
    display: block !important;
    position: absolute;
    max-height: 330px;
}

.vitable .popover-content {
    width: 292px;
    height: 172px;
    overflow: auto;
}

.vitable .popover-inner {
    width: 320px;
    max-height: 270px;
}

.vitable dd, .vitable dt {
    word-wrap: break-word;
}

.vitable .popover-title a {
    font-size: 11px;
}

.highlight .alert {
    background-color: navy;
}

.glyph-wrapper {
    position: relative;
}

.glyphed-element {
    position: absolute;
    font-family: "EntypoRegular";
    font-size: 57px;
    width: auto;
    height: auto;
    align: center;
}

.glyph {
    position: relative;
    font-family: "EntypoRegular";
    font-size: 57px;
    width: auto;
    height: auto;
}

input.glyph {
    font-size: 31px !important;
    text-align: center;
}

.glyph-popup .glyph {
    width: 43px;
    display: inline-block;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}

.glyph-popup .glyph:hover {
    background: rgba(0, 51, 153, 0.6);
}

.glyph-popup {
    padding: 10px !important;
    top: -180px !important;
    left: -298px !important;
}

.glyph-wrapper .add-on {
    cursor: pointer;
}

.glyph-wrapper input, .glyph-wrapper .add-on {
    padding: 10px !important;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.button-row .control-group {
    width: 50%;
    display: inline-block;
}

.button-row .inline-block {
    margin-left: 5px;
}

.plugin-canvas .alert {
    padding-right: 15px;
}

.plugin-canvas .alert.editable .parameters {
    margin-right: 0px;
    width: 100%;
}

.plugin-canvas input, .plugin-canvas textarea {
    width: 96%;
}

.plugin-canvas input.tiny {
    width: 26%;
}

pre#editor {
    max-height: 100000px !important;
}

table .btn-toolbar .badge {
    margin-right: 10px;
    position: relative;
}

.dashboard .row .col-lg-3.btn {
    min-height: 0px !important;
}

.plugin-canvas {
    overflow-x: auto;
    white-space: nowrap;
}

.successors .editable.instance label {
    float: none;
}

.profile-edit-div {
    margin-bottom: 10px;
}

.well.ui-state-hover {
    border: 1px solid black !important;
}

.successors .instance ul {
    list-style-type: none;
    margin: 0;
}

label.nofloat {
    float: none;
}

noindex:-o-prefocus, .btn-group.share-button {
    top: 4px;
}

.instance .footer {
    text-align: right;
}

.datacube-preview {
    position: relative;
}

.datacube-preview canvas {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.datacube-preview canvas:first-of-type {
    position: relative;
}

textarea.datacube {
    display: block;
    margin-top: 20px;
    height: 100px;
}

button.datacube {
    margin-top: 20px;
}

.preview-dialog.modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.preview-dialog.modal .modal-body {
    max-height: 200000px;
    padding: 1px;
    position: relative;
}

.preview-dialog.modal .modal-body > div {
    padding-bottom: 65px;
}

.preview-dialog.modal .modal-footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 98%;
    z-index: 1;
}

.preview-dialog .modal-dialog {
    width: 100%;
    margin: 0;
}

.preview-dialog .connector {
    margin-left: 47%;
}

.choose-analysis-dialog.modal .modal-body {
    height: 150px;
    text-align: center;
}

.datacube-infobar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 2px;
}

.map-placeholder, .map-placeholder .mapview {
    width: 100%;
    height: 800px;
}

.append-popup {
    padding: 10px !important;
    top: -15px !important;
    left: -574px !important;
    min-height: 340px;
}

.param-clicked {
    font-weight: bold;
    color: black;
}

.mapview-filter {
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 8px;
    background: rgba(222, 222, 222, 0.6);
    font-weight: bold;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mapview-filter ul, .mapview-filter li {
    list-style-type: none;
}

.mapview-filter li {
    display: block;
    height: 22px;
    clear: both;
}

.blockUI.blockMsg {
    z-index: 1040 !important;
    top: 55px !important;
}

.dcv-graphholder {
    min-height: 500px !important;
    height: 80%;
}

.map-placeholder img {
    max-width: none;
}

.heatmap-settings-table {
    position: absolute;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    bottom: 19px;
    right: 0px;
}

.heatmap-settings-table table {
    background: white;
    margin-top: 5px;
}

.form-group label {
    margin: 0;
}

.instance.panel .panel-body .parameters p {
    margin: 0;
}

.parameters ul.readonly {
    max-height: 250px;
    overflow: scroll;
}

#chart-wrapper{
    min-height: 350px;
}


