canvas {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

canvas:first-child {
    position: relative;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

#canvas-holder {
    position: relative;
}

.clear {
    clear: both;
}

.controls.plugin.switch.button {
    color: rgb(0, 0, 255);
}

.controls.plugin.switch.button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(255, 0, 0);
}

.visualPluginSettings.textField {
    width: 30px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

label {
    float: left;
    width: 250px;
}

.instance h3 {
    text-align: center;
}

.instance p {
    max-width: 200px;
}

#plugin-space .alert {
}

#plugin_create_button_container {
    padding-left: 30px;
    padding-bottom: 15px;
}

input.active, textarea.active {
    background: #fff url('spinner.gif') no-repeat 100%;
    background: url('spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background-position: 98%;
    padding-right: 25px !important;
}

input[type="checkbox"].active:after {
    width: 20px;
    height: 20px;
    display: block;
    background: #fff url('spinner.gif') no-repeat 100%;
    background: url('spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('spinner.gif') no-repeat 100%;
    background-position: 98%;
    content: "";
    position: relative;
    left: 13px;
    top: -5px;
}

.dashboard h2 {
    color: black;
}

.icon-rdf {
    background-image: url(rdf-white.png) !important;
    background-position: 0px !important;
}

.icon-group {
    background-image: url(group.png) !important;
    background-position: 0px !important;
}

.icon-group.icon-white {
    background-image: url(group-white.png) !important;
    background-position: 0px !important;
}

.selected-page {
    background: #8891B7;
}

.successors {
    float: left;
    min-width: 300px;
}

.clear {
    clear: both;
    height: 0px;
    visibility: hidden;
    display: block;
}

.alert {
    margin-bottom: 18px;
}

.position-relative {
    position: relative;
}

.ontology-customization-class-div {
    min-height: 30px;
    horizontal-align: center;
    padding: 5px;
    background: #DDDBFE;
    color: black;
    border: 1px solid #a6a4a9;
}

.selected-ontology-customization-class-div {
    background: #9E9AD1;
}

.property-list-header {
    background: #ABABAB;
    margin-bottom: 10px;
    padding-left: 5px;
}

.modal-inner-view {
    height: 380px;
    overflow: auto;
}

.property-list-div {
    background: #FFFEE2;
}

.wide-customization-modal {
    width: 800px;
}

.no-padding {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.ontology-customization-item {
    padding-right: 70px;
}

.ontology-customization-button {
    right: 5px;
    position: absolute;
    padding-right: 5px;
}

.successors > .successors {
    margin-left: 10px;
}

.successors > .successors:first-child {
    margin-left: 0px;
}

#progress {
    top: 5px;
    position: relative;
}

.wrap-right {
    float: left;
    position: relative;
    left: 50%;
}

.wrap-left {
    float: left;
    position: relative;
    left: -50%;
}

.tab-content {
    position: relative;
    overflow: visible;
}