@(user: cz.payola.domain.entities.User, form: Form[(String)])(flash: Flash)

@import tags._

@main(Some(user), "Create a new prefix :: Payola!", Some("Create a new prefix")) {

<div class="container">

    @helper.form(routes.Prefix.saveCreate()) {

    @render_flash(flash)

    <div class="well">
        <fieldset>
            <legend>Enter the prefix and url</legend>
            <div class="control-group">
                <span class="col-lg-1"><label class="control-label" for="prefix">Prefix</label></span>
                <span class="controls">
                    <input type="text" name="prefix" placeholder="prefix" id="prefix" value="@form("prefix").value" class="input col-lg-2">
                </span>
            </div>
            <div class="control-group">
                <span class="col-lg-1"><label class="control-label" for="URL">Url</label></span>
                <span class="controls">
                    <input type="text" name="url" placeholder="url" id="url" value="@form("url").value" class="input col-lg-5">
                </span>
            </div>
            <div class="control-group">
                <span class="controls">
                    <button type="submit" id="savebutton" class="btn btn-primary">Create Prefix</button>
                </span>
            </div>
        </fieldset>
    </div>

    }
</div>

}
