@(user: cz.payola.domain.entities.User, prefix: cz.payola.domain.entities.Prefix)(flash: Flash)

@import tags._

@main(Some(user), "Edit prefix "+ prefix.prefix + " :: Payola!") {
<div class="container">

    @render_flash(flash)

    <div class="row">
        <h1 class="col-lg-7">Edit prefix @prefix.prefix</h1><span class="col-lg-5" style="text-align: right;"><a href="@routes.Prefix.delete(prefix.id)" onclick="return confirm('Are you sure?');" class="btn btn-danger"><i class="glyphicon-remove-circle glyphicon"></i> Delete '@prefix.prefix'</a></span>
    </div>

    <form action="@routes.Prefix.save(prefix.id)" method="post">
        <div class="well">
            <fieldset>
                <legend>Change prefix definition</legend>
                <div class="control-group">
                    <label class="control-label" for="prefix">Prefix</label>
                    <span class="controls">
                        <input type="text" name="prefix" placeholder="Prefix prefix" id="prefix" value="@prefix.prefix" class="input col-lg-3">
                    </span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="url">URL</label>
                    <span class="controls">
                        <input type="text" name="url" placeholder="Prefix url" id="url" value="@prefix.url" class="input col-lg-3">
                    </span>
                </div>
                <div class="control-group">
                    <span class="controls">
                        <button type="submit" id="savebutton" class="btn btn-primary">Save prefix</button>
                    </span>
                </div>
            </fieldset>
        </div>
    </form>
    <!--
    <script src="/javaScriptPackage/cz.payola.web.client.presenters.entity.PrefixEdit" type="text/javascript"></script>
    <script type="text/javascript">
        new cz.payola.web.client.presenters.entity.PrefixEdit("@prefix.id").initialize();
    </script>
    -->
</div>

}
