@(user: Option[cz.payola.domain.entities.User], topAnalyses: Seq[cz.payola.domain.entities.Analysis],
    topDataSources: Seq[cz.payola.domain.entities.plugins.PluginInstance]
)

@main(user, "Dashboard") {
    <div class="container-fluid">

        <ul class="breadcrumb">
            <li>
                <a href="/">Home</a> <span class="divider">/</span>
            </li>
            <li class="active">Dashboard</li>
        </ul>

        <h1>Dashboard</h1>
        <div class="well">
            <div class="row-fluid">
                <div class="span6">
                    <h2>Top analyses</h2>
                    @if(topAnalyses.size == 0){
                        <p class="alert alert-danger">No analyses.</p>
                    }else{
                        <ul>
                            @topAnalyses.map{a =>
                                <li><a href="@routes.Analysis.detail(a.id)">@a.name</a></li>
                            }
                        </ul>
                    }
                    <p><a class="btn" href="#"><i class="icon-list"></i> List all &raquo;</a></p>
                </div><!--/span-->
                <div class="span6">
                    <h2>Top data sources</h2>
                    @if(topDataSources.size > 0){
                        <ul>
                            @topDataSources.map{d =>
                                <li><a href="@routes.DataSource.detail(d.id)">@d.getParameter("EndpointURL")</a></li>
                            }
                        </ul>
                    }else{
                        <div class="alert alert-info">
                            <h3 class="alert-heading">No datasources.</h3>
                            <p class="alert-block">
                                No data sources, no fun.
                                But you may add a data source easily! Just press the green button below.
                            </p>
                        </div>
                    }
                    <p><a class="btn" href="#"><i class="icon-list"></i> List all &raquo;</a></p>
                    </div>
            </div><!--/span-->
        </div>
        @if(user.isDefined){
            <div class="row-fluid">
                <div class="span6">
                    <h2>My analyses</h2>
                    @if(user.get.ownedAnalyses.size == 0){
                    <div class="alert alert-info">
                        <h3 class="alert-heading">No analyses.</h3>
                        <p class="alert-block">But you may create one! Just press the green button below.</p>
                    </div>
                    }else{
                        <ul>
                            @user.get.ownedAnalyses.map{a =>
                            <li>
                                <a href="@routes.Analysis.edit(a.id)">[<i class="icon icon-pencil"></i> Edit]</a>
                                <a href="@routes.Analysis.detail(a.id)">@a.name</a>
                            </li>
                            }
                        </ul>
                    }
                    <p>
                        <a class="btn" href="#"><i class="icon-list"></i> List all &raquo;</a>
                        <a class="btn btn-success" href="@routes.Analysis.create"><i class="icon-plus icon-white"></i>Create &raquo;</a>
                    </p>
                </div><!--/span-->
                <div class="span6">
                    <h2>My groups</h2>
                    @if(user.get.ownedGroups.size == 0){
                        <div class="alert alert-info">
                            <h3 class="alert-heading">No groups.</h3>
                            <p class="alert-block">
                                You are not able to share analysis to more than one person at a time.
                                But you may create a group easily! Just press the green button below.
                            </p>
                        </div>
                    }else{
                        <table class="table table-stripped">
                            <thead>
                                <tr>
                                    <th>Group name</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        @user.get.ownedGroups.take(5).map{group =>
                            <tr>
                                <td>@group.name</td>
                                <td>@group.members.size member(s)</td>
                                <td><a href="@routes.Profile.editGroup(group.id)" class="btn btn-primary"><i class="icon-cog icon-white"></i> Administer</a></td>
                            </tr>
                        }
                        </table>
                    }
                    <p>
                        @if(user.get.ownedGroups.size > 5){
                            <a class="btn" href="@routes.Profile.listGroups()"><i class="icon-list"></i> List all &raquo;</a>
                        }
                        <a class="btn btn-success" href="@routes.Profile.createGroup()"><i class="icon-plus icon-white"></i>Create &raquo;</a>
                    </p>
                </div><!--/span-->
            </div><!--/row-->
        }else{
            <div class="well hero-unit">
                <h2>There's more!</h2>
                <p><a href="@routes.Application.login" class="btn btn-primary">Login</a> to see your top content here!</p>
            </div>
        }
    </div><!-- /.container-fluid -->
}
