@(user: Option[cz.payola.data.entities.User])

@main(user, "Payola!") {

    <div class="container-fluid">
        <div class="row-fluid">

            <div id="graph-plugin-draw-space"></div>
            <div id="controls">

            </div>

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-cog"></i>
                    Settings
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="settings">
                    <!-- dropdown menu links -->
                </ul>
            </div>
        </div><!--/row-->

        <!--<hr class="clear">

        <footer>
            <p>&copy; Company 2012</p>
        </footer>-->

    </div><!--/.fluid-container-->

    <script src="/javaScriptPackage/cz.payola.web.client.presenters.Index" type="text/javascript"></script>
    <script type="text/javascript">
        new cz.payola.web.client.presenters.Index().init();
    </script>
}
