@(user: Option[cz.payola.domain.entities.User])(flash: Flash)

@main(user, "Reset Password :: Payola!") {
<div class="container">

    <form action="@routes.Application.reallyResetPassword" class="form-horizontal" method="post">

        <div class="hero-unit well">
            <h1>Reset Password</h1>
            <p>Enter your email and new password below. A confirmation link will be sent to your email address. This link will be valid for 2 hours.</p>
        </div>

        @views.html.tags.render_flash(flash)

        <div class="well">
            <fieldset>
                <legend>Reset Password</legend>
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" name="email" placeholder="Email" id="email" value="" class="input-large">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">New Password</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" placeholder="Password" class="input-large">
                    </div>
                </div>
                <div>
                <span class="controls">
                    <button type="submit" id="reset-button" class="input btn btn-primary">Reset Password</button>
                </span>
                </div>
            </fieldset>
        </div>

    </form>

</div>

}
