@(user: Option[cz.payola.data.entities.User], owner: cz.payola.data.entities.User)
@import tags._

@main(user, "User profile") {
<div class="container">
    <div class="hero-unit">
        <div class="row-fluid">
            <span class="span3">
                <img src="http://www.gravatar.com/avatar/@md5(owner.email)?s=200" />
            </span>
            <h1>@owner.name</h1>
            <p><i class="icon-envelope"></i>@owner.email</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <h2>Analysis shared by @if(user.isDefined && (user.get == owner)){ you }else{ the user }</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Analysis name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Kalousek friends</td>
                    <td><a href="" class="btn btn-primary"><i class="icon-zoom-in icon-white"></i> View</a></td>
                </tr>
                <tr>
                    <td>Who to pay to be famous</td>
                    <td><a href="" class="btn btn-primary"><i class="icon-zoom-in icon-white"></i> View</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            <h2>Groups owned by @if(user.isDefined && (user.get == owner)){ you }else{ the user }</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Group name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MFF Students</td>
                    <td>
                        @if(user.isDefined && (user.get == owner)){
                            <a href="" class="btn btn-primary"><i class="icon-cog icon-white"></i> Administer</a>
                        }else{
                            <a href="" class="btn btn-success"><i class="icon-plus icon-white"></i> Request membership</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td>PSP CR Members</td>
                    <td>
                        @if(user.isDefined && (user.get == owner)){
                            <a href="" class="btn btn-primary"><i class="icon-cog icon-white"></i> Administer</a>
                        }else{
                            <a href="" class="btn btn-danger"><i class="icon-minus icon-white"></i> Leave</a>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
}
