@(user: Option[cz.payola.domain.entities.User], storedResults: Seq[cz.payola.domain.entities.AnalysisResult], page: Int = 1, title: Option[String] = None)(flash: Flash)

@import tags._

@deleteLinkForID(id: String) = @{
<div class="btn-group">
    <a href={routes.CacheStore.delete(id).toString} class="btn btn-danger" onclick="return confirm('Are you sure?')">
        <i class="glyphicon-remove-sign glyphicon"/> Delete</a>
</div>
}

@updateLinkForID(uriHash: String, id: String) = @{
<div class="btn-group">
    <a href={routes.CacheStore.update(uriHash, id).toString} class="btn"><i class="glyphicon-refresh glyphicon"/> Update</a>
</div>
}

@createLinkForID(id: String) = @{
<div class="btn-group">
    <a href={routes.CacheStore.create(id).toString} class="btn"><i class="glyphicon-plus glyphicon"/> Create</a>
</div>
}

@analysisDetailLinkForID(id: String, name: String) = @{
    <a href={routes.Analysis.detail(id).toString}>{name}</a>
}

@render_flash(flash)

@list_entities(user, "Stored Result", "Stored Results", storedResults.size,
{
    case (page, itemsPerPage) =>
        val subseq = storedResults.drop((page - 1) * itemsPerPage)

    if (itemsPerPage > subseq.size){
        subseq
    } else {
        subseq.take(itemsPerPage)
    }
},
{
    Unit =>
        val buffer = new scala.xml.NodeBuffer()
        buffer += <td>Analysis</td>
        buffer += <td>Last Update</td>
        buffer += <td>Embeded Url</td>
        buffer += <td>Default visual plugin</td>
        buffer += <td>Actions</td>

        buffer
},
{
    e: cz.payola.domain.Entity =>
        val aRes = e.asInstanceOf[cz.payola.domain.entities.AnalysisResult]
        <td class="listing-column-tiny">{
            val analys = aRes.analysis.get
            analysisDetailLinkForID(analys.id, analys.name)
        }</td>
        <td class="listing-column-tiny">{
            new java.text.SimpleDateFormat("dd. MMMMM yyyy HH:mm:ss").format(aRes.touched)
        }</td>
        <td class="listing-column-tiny">{
            if(aRes.embeddingDescription.isDefined)
                <a href={routes.CacheStore.embed(aRes.embeddingDescription.get.uriHash).toString} class="btn" id="CacheStoreEmbUri">Open</a>
                <script>
                    var uriTail = '{routes.CacheStore.embed(aRes.embeddingDescription.get.uriHash).toString}'
                    var origin = window.location.origin;
                    document.getElementById('{"CacheStoreEmbUri"}').innerHTML = origin + uriTail;
                </script>
            else {
                createLinkForID(e.id)
            }

        }</td>
        <td class="listing-column-tiny" id={"result"+aRes.id}>{
            if(aRes.embeddingDescription.isDefined) {
                <script src="/javaScriptPackage/cz.payola.web.client.presenters.entity.CacheStorePresenter" type="text/javascript"></script>
                <script type="text/javascript">
                    new cz.payola.web.client.presenters.entity.CacheStorePresenter(
                        document.getElementById('{"result"+aRes.id}'), '{aRes.embeddingDescription.get.id}',
                        '{aRes.embeddingDescription.get.defaultVisualPlugin.getOrElse("")}').initialize();
                </script>
            }
        }</td>
        <td>
            <div class="btn-toolbar">{
                if(aRes.embeddingDescription.isDefined) {
                    updateLinkForID(aRes.embeddingDescription.get.uriHash, e.id) ++ deleteLinkForID(e.id)
                } else {
                    deleteLinkForID(e.id)
                }
            }</div>
        </td>
},
null,
page
)
